<%= render WrapperComponent.new do %>
  <p>
    <strong>User:</strong>
    <%= @phone.user_name %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= @phone.manager_name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= @phone.number %>
  </p>

  <%= link_to 'Edit', edit_phone_path(@phone) %> |
  <%= link_to 'Expenses', phone_expenses_url(@billable) %> |
  <%= link_to 'Back', phones_path %>
<% end %>
