<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @phone.user_id %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @phone.manager_id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @phone.number %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
