<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <% if type == "edit" %>
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Edit <%= resource.name.to_s.humanize %></p>
                <% else %>
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                <% end %>
                <% form_hash = { url: user_registration_path } %>
                <% form_hash = form_hash.merge(html: { method: :put }) if type == "edit" %>

                <%= form_for(resource, form_hash) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                  <%= render FormControlComponent.new(icon_type: "user") do %>
                    <%= f.label :name, "Your name" %>
                    <%= f.text_field :name, autofocus: true, class: "form-control" %>
                  <% end %>

                  <%= render FormControlComponent.new(icon_type: "envelope") do %>
                      <%= f.label :email %>
                      <%= f.email_field :email, class: "form-control", autocomplete: "email" %>
                  <% end %>

                  <%= render FormControlComponent.new(icon_type: "lock") do %>
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %>
                    <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
                  <% end %>

                  <%= render FormControlComponent.new(icon_type: "key") do %>
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
                  <% end %>
                  <% if type == "edit" %>
                    <%= render FormControlComponent.new(icon_type: "lock") do %>
                      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                      <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password" %>
                    <% end %>
                  <% end %>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <%= f.submit type == "edit" ? "Update" : "Register" , class: "btn btn-primary btn-lg" %>
                  </div>

                  <%= render "devise/shared/links" if type == "new" %>

                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

