<%= form_with(model: card_expense, local: true) do |form| %>
  <% if card_expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card_expense.errors.count, "error") %> prohibited this card_expense from being saved:</h2>

      <ul>
        <% card_expense.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :card_id %>
    <%= form.collection_select :card_id, @cards, :id, :name, { selected: @card_expense.card } %>
  </div>

  <div class="field">
    <%= form.label :payable_id %>
    <select name="card_expense[payable]">
      <% @payables.each do |payable| %>
        <option
          value = "<%= payable.payable_type %>:<%= payable.payable_id %>"
          <%= "selected" if payable_selected(payable) %>
        >
          <%= payable.name %>
        </option>
      <% end %>
    </select>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :installments %>
    <%= form.number_field :installments, min: 1 %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value, min: 1, step: 0.1 %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_select :due_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
