<%= render WrapperComponent.new do %>
  <h1>Card Expenses</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Card</th>
        <th scope="col">Payable</th>
        <th scope="col">Installments</th>
        <th scope="col">Value</th>
        <th scope="col">Due date</th>
        <th scope="col">Last date</th>
        <th scope="col">Status</th>
        <th scope="col">Total</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <% @card_expenses.each do |card_expense| %>
        <tr>
          <th scope="row">#</th>
          <td><%= card_expense.card_id %></td>
          <td><%= card_expense.payable_id %></td>
          <td><%= card_expense.installments %></td>
          <td><%= card_expense.value %></td>
          <td><%= card_expense.due_date %></td>
          <td><%= card_expense.last_date %></td>
          <td><%= card_expense.status %></td>
          <td><%= card_expense.total %></td>
          <td><%= link_to 'Show', card_card_expense_path(card_expense.card, card_expense) %></td>
          <td><%= link_to 'Edit', edit_card_card_expense_path(card_expense.card, card_expense) %></td>
          <td><%= link_to 'Destroy', [card_expense.card, card_expense], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Card Expense', new_card_card_expense_path(@card) %>
<% end %>
