<%= form_with(model: card, local: true, builder: CustomFormBuilder) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
        <% card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render FormControlComponent.new do %>
    <%= form.label :name %>
    <%= form.text_field :name %>
  <% end %>

  <%= render FormControlComponent.new do %>
    <%= form.label :number %>
    <%= form.text_field :number %>
  <% end %>

  <%= render FormControlComponent.new do %>
    <%= form.label :expiration %>
    <%= form.date_select :expiration %>
  <% end %>

  <%= render FormControlComponent.new do %>
    <%= form.label :status %>
    <%= form.select(:status, options_for_select(@statuses, @card.status), {}) %>
  <% end %>

  <%= render FormControlComponent.new do %>
    <%= form.label :card_category_id %>
    <%= form.select(:card_category_id, options_for_select(@categories, @card.card_category_id),{}) %>
  <% end %>

  <%= render ManagerComponent.new(managers: @managers, model: @card, form: form) %>

  <%= render FormControlComponent.new do %>
    <%= form.label :cvv %>
    <%= form.number_field :cvv %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
