<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
        <% card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number %>
  </div>

  <div class="field">
    <%= form.label :expiration %>
    <%= form.date_select :expiration %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="field">
    <%= form.label :card_category_id %>
    <%= form.text_field :card_category_id %>
  </div>

  <div class="field">
    <%= form.label :manager %>
    <%= form.number_field :manager %>
  </div>

  <div class="field">
    <%= form.label :cvv %>
    <%= form.number_field :cvv %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
