<%= render WrapperComponent.new do %>
  <p>
    <strong>User:</strong>
    <%= @billable.user_name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @billable.name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= @billable.number %>
  </p>

  <p>
    <strong>Expiration:</strong>
    <%= @billable.expiration %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @billable.status %>
  </p>

  <p>
    <strong>Card category:</strong>
    <%= @billable.category_name %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= @billable.manager_name %>
  </p>

  <p>
    <strong>Cvv:</strong>
    <%= @billable.cvv %>
  </p>

  <%= link_to 'Edit', edit_card_path(@billable) %> |
  <%= link_to 'Expenses', card_expenses_url(@billable) %> |
  <%= link_to 'Back', cards_path %>
<% end %>