<%= form_with(model: card_category, local: true) do |form| %>
  <% if card_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card_category.errors.count, "error") %> prohibited this card_category from being saved:</h2>

      <ul>
        <% card_category.errors.messages.each do |message| %>
          <%= render NotificationComponent.new(message: message[1], type: "danger", title: message[0].capitalize) %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render FormControlComponent.new do %>
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  <% end %>

  <%= render FormControlComponent.new do %>
    <%= form.label :status %>
    <%= form.select(:status, options_for_select(@statuses, @card_category.status), {}, { class: "form-control" }) %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
