<p id="notice"><%= notice %></p>

<h1>Card Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @card_categories.each do |card_category| %>
      <tr>
        <td><%= card_category.name %></td>
        <td><%= card_category.status %></td>
        <td><%= link_to 'Show', card_category %></td>
        <td><%= link_to 'Edit', edit_card_category_path(card_category) %></td>
        <td><%= link_to 'Destroy', card_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card Category', new_card_category_path %>
