<%= render WrapperComponent.new do %>
  <p>
    <strong>Card:</strong>
    <%= @expense.billable_name %>
  </p>

  <p>
    <strong>Payable:</strong>
    <%= @expense.payable_name %>
  </p>

  <p>
    <strong>Installments:</strong>
    <%= @expense.installments %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= @expense.value %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= @expense.due_date %>
  </p>

  <p>
    <strong>Last date:</strong>
    <%= @expense.last_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @expense.status %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= @expense.total %>
  </p>

  <%= link_to 'Edit', edit_card_expense_path(@card, @expense) %> |
  <%= link_to 'Back', card_expenses_path %>
<% end %>
